header .custom-img svg {
    height: 20px;
    width: 20px;
}

.search-button-color svg {
    height: 20px;
    width: 20px;
}

.footer-div {
    height: max-content !important;
}
.top-navbar .custom-img .logo {
    width: 140px !important;
}
.navbar-megamenu .firstlevel-menu li.megamenu-item ul li a {
    width: max-content !important;
}

#discovery-slider .splide__slide a {
    display: block;
}
#discovery-slider .splide__slide a img {
    border-radius: 15px;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .top-navbar .custom-img .logo {
        width: 100px !important;
    }
}

#trending-slider .splide__slide,
#shop-gender-slider .splide__slide {
    height: max-content;
}

#trending-slider .splide__track,
#shop-gender-slider .splide__track {
    height: max-content;
}

#trending-slider .splide__slide img ,
#shop-gender-slider img {
    border-radius: 10px;
}
#trending-slider .splide__slide a ,
#shop-gender-slider .splide__slide a {
    display: block;
}
#trending-slider .splide__slide .help-text-section ,
#shop-gender-slider .splide__slide .help-text-section {
    margin: 0 auto;
    padding: 16px 0;
}



#diamondSlider {
    padding-bottom: 50px;
}
#diamondSlider video {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#diamondSlider .splide__track {
    height: max-content;
}


/* .custom-reels-slider img,
.custom-reels-slider video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

.custom-reels-slider .splide__slide.is-active video {
    height: 400px;
}

.custom-reels-slider .splide__list {
    align-items: center;
} */

.product-grid .product-tile {
    min-height: unset !important;
}
.custom-stock-level-message {
    display: none !important;
}
.product-grid .product-tile .tile-body {
    padding-left: 0 !important;
}
.product-grid .product-tile .product-name .pdp-link h5 {
    margin-bottom: 0 !important;
}


.section-products img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.section-products .br-15,
.section-products .br-15 figure {
    height: 100%;
}



.new-reels-slider .swiper-slide-shadow-coverflow,
.new-reels-slider .swiper-button-prev,
.new-reels-slider .swiper-button-next {
    display: none !important;
}

.new-reels-slider .swiper-slide {
    height: max-content;
}

#titan_livechat_div {
    display: none !important;
}

.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    z-index: 999999;
}
.whatsapp-icon svg {
    height: 100%;
    width: 100%;
}

@media (max-width: 576px) {
    .section-products img {
        height: 170px !important;
        object-fit: cover;
        width: 100%;
    }
}

.custom-swiper-slider-container
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #2f3092 !important;
}

.custom-swiper-slider-container .swiper-pagination-bullet {
    background-color: #2f3092 !important;
}

@media (max-width: 768px) {
    .experience-commerce_layouts-swiperSlider .swiper-pagination {
        bottom: 40px !important;
    }
}